<main id="main-area">

<h3>Groceries not in basket</h3>

<ul class="list-group">
  {{#each grocery}}
    {{#unless in_basket}}
      {{> grocery/grocery-block in_basket=false}}
    {{/unless}}
  {{/each}}
</ul>

<br>

<h3>Groceries in basket</h3>

<ul class="list-group">
  {{#each grocery}}
    {{#if in_basket}}
      {{> grocery/grocery-block in_basket=true}}
    {{/if}}
  {{/each}}
</ul>

<br>

<h3>Add grocery item to the list</h3>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Item Name:</label>
    <input type="text" id="ca" name="item">
  </div>

  <div class="form-group">
    <label for="basket">In basket?</label><br>
    <input type="radio" name="in_basket" value="0" checked> Not in basket<br>
    <input type="radio" name="in_basket" value="1"> In basket
  </div>

  <button type="submit">Add Item</button>
</form>

</main>